<div class="container">
<h3>{{poll.content}}</h3>
<h5>Click the vote button to choose one.</h5>
<a [routerLink]="['/all']">Go to polls</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Option</th>
      <th>Current count of votes</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
     <tr>
       <td>{{poll.option1}}</td>
       <td>{{poll.vote1}}</td>
       <td><button (click)="addVote(poll, poll.option1)">Vote</button></td>
    </tr>
    <tr>
        <td>{{poll.option2}}</td>
        <td>{{poll.vote2}}</td>
        <td><button (click)="addVote(poll, poll.option2)">Vote</button></td>
     </tr> 
     <tr>
        <td>{{poll.option3}}</td>
        <td>{{poll.vote3}}</td>
        <td><button (click)="addVote(poll, poll.option3)">Vote</button></td>
     </tr> 
     <tr>
        <td>{{poll.option4}}</td>
        <td>{{poll.vote4}}</td>
        <td><button (click)="addVote(poll, poll.option4)">Vote</button></td>
     </tr>  
  </tbody>
</table>
</div>

