<div class="container">
    <p class="navbar-text navbar-right"><a [routerLink]="['/new']" class="navbar-link">Create a new poll</a></p>
    <p class="navbar-text navbar-right"><a [routerLink]="['']" class="navbar-link">Logout</a></p>
    <h3>Current Polls:</h3>         
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Survey Question</th>
        <th>Date Posted</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let note of pollList">
            <td>{{note.username}}</td>
            <td (click)="goToPoll(note)" class="color">{{note.content}}</td>
            <td>{{ note.created_at | date:'medium'}}</td>
           <td *ngIf="name==note.username"><button (click)="deletePoll(note)">Delete</button></td>
        </tr>
    </tbody>
  </table>
</div>

